@using Luo.Core.Common
<!-- 侧边菜单 -->
<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="home/console.html">
            <span>LuoCoreAdmin</span>
        </div>

        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" lay-tips="主页" lay-direction="2">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>主页</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd data-name="console" class="layui-this">
                        <a lay-href="home/console.html">控制台</a>
                    </dd>
                </dl>
            </li>
            @{
                void RenderName(List<Luo.Core.Models.ViewModels.Response.UserMenuInfoOutput> menuInfos)
                {
                    foreach (var item in menuInfos)
                    {

                        if (item.MenuType == 0)
                        {
                            <li data-name="systemConfig" class="layui-nav-item">
                                <a href="javascript:;" lay-tips="@item.MenuName" lay-direction="2">
                                    <i class="layui-icon @item.MenuIcon"></i>
                                    <cite>@item.MenuName</cite>
                                </a>
                                @{
                                    if (item.ChildrenMeuns.Count > 0)
                                    {
                                        RenderName(item.ChildrenMeuns);
                                    }
                                }
                            </li>
                        }
                        else if (item.MenuType == 1)
                        {
                            <dl class="layui-nav-child">
                                <dd data-name="nav">
                                    @{
                                        if (!string.IsNullOrWhiteSpace(item.MenuIcon))
                                        {
                                            <i class="layui-icon @item.MenuIcon"></i>
                                        }
                                        <a lay-href="@item.MenuUrl">@item.MenuName</a>
                                        if (item.ChildrenMeuns.Count > 0)
                                        {
                                            RenderName(item.ChildrenMeuns);
                                        }
                                    }
                                </dd>
                            </dl>
                        }
                    }

                }
                var userClaims = this.Context.User.Claims.SingleOrDefault(x => x.Type == "UserMenuInfo");
                if (userClaims != null)
                {

                    var userMenuInfo = userClaims.Value.JsonToObj<List<Luo.Core.Models.ViewModels.Response.UserMenuInfoOutput>>();
                    RenderName(userMenuInfo);
                }
            }


        </ul>
    </div>
</div>
